.container {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  margin: auto;
  background-color: #2b3135;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  line-height: clamp(60px, 10vh, 80px);
  background: #4b4e50;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
}

.adjustHeaderWidth {
  width: min(90%, 1400px);
  margin: auto;
}

.headerTitle {
  padding: 0;
  font-size: clamp(18px, 5vw, 2rem);
}

.header a.noDecoration {
  text-decoration: none;
}

.headerLinkContainer {
  display: flex;
  justify-content: space-between;
  width: min(100%, 600px);
  margin-left: 10%;
}

.headerLink {
  font-size: clamp(16px, 2.5vw, 24px);
}

.adjustWidth {
  width: min(90%, 1200px);
  margin: auto;
}

.backToHome {
  margin: 1rem 0;
}

.arr::before {
  content: "\2190";
}

.footer {
  text-align: center;
  padding: .6em;
}

.footerSmall {
  color: #aaa;
  text-align: center;
  font-size: clamp(12px, 2.5vw, 16px);
}

@media screen and (max-width: 500px) {
  .spHidden {
    display: none;
  }
}