.container {
  min-height: 100vh;
  margin: auto;
  background-color: #384147;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  line-height: min(80px, 10vh);
  background: #4b4e50;
}

.headerTitle {
  padding: 0 1rem;
}

.header a.noDecoration {
  text-decoration: none;
}

.headerLinkContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-left: 10%;
}

.headerLink {
  font-size: min(2.5vw, 24px);
}

.adjustWidth {
  width: min(90%, 1200px);
  margin: auto;
}

.backToHome {
  margin: 0;
}