@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Quicksand:wght@400;500&display=swap');

.container {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  min-height: 100dvh;
  margin: auto;
  background-color: #2b3135;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  line-height: clamp(60px, 10vh, 80px);
  background: #4b4e50;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
}

.adjustHeaderWidth {
  width: min(90%, 1400px);
  margin: auto;
}

.center {
  display: flex;
  align-items: center;
}

.headerTitle {
  font-size: clamp(18px, 5vw, 2rem);
  font-family: 'Quicksand';
  color: #fff0;
  background: linear-gradient(to right, #30a3f0, #31deb0);
  padding: 0.1em 0.3em 0.25em 0.3em;
  border-radius: 0.26em;
  line-height: 1em;
  position: relative;
  z-index: 1;
  transition: .3s;
}

.headerTitle::after {
  content: "Notchy";
  font-size: clamp(18px, 5vw, 2rem);
  font-family: 'Quicksand';
  padding: 0.1em 0.3em 0.25em 0.3em;
  line-height: 1em;
  z-index: 2;
  transition: .3s;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #30a3f0, #31deb0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.headerTitle::before {
  content: "";
  background: #4b4e50;
  border-radius: 0.25em;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  height: 100%;
  background-clip: content-box;
  transition: .3s;
}

.headerTitle:hover {
  color: #fff;
  border-radius: 0.25em;
}

.headerTitle:hover::after {
  opacity: 0;
}

.headerTitle:hover::before {
  background: #4b4e5055;
  border-radius: 0.25em;
  top: 0;
  right: 0;
  padding: 0.07em;
  width: 100%;
  height: 100%;
  background-clip: content-box;
}

/* .headerTitle:hover:before {
  background: transparent;
  box-sizing: border-box;
  background-clip: content-box;
  top: 50%;
  right: 50%;
  width: 0;
  height: 0;
}
 */
.header a.noDecoration {
  text-decoration: none;
}

.headerLinkContainer {
  display: flex;
  justify-content: space-between;
  width: min(100%, 600px);
  margin-left: 10%;
}

.headerLink {
  font-size: clamp(16px, 2.5vw, 24px);
}

.adjustWidth {
  width: min(90%, 1200px);
  margin: auto;
}

.backToHome {
  margin: 1rem 0;
}

.arr::before {
  content: "\2190";
}

.footer {
  text-align: center;
  padding: .6em;
}

.footerSmall {
  color: #aaa;
  text-align: center;
  font-size: clamp(12px, 2.5vw, 16px);
}

@media screen and (max-width: 580px) {
  .spHidden {
    display: none;
  }

  .adjustHeaderWidth {
    width: 100%;
    padding-left: 5vw;
  }

  .headerLinkContainer {
    display: flex;
    justify-content: space-evenly;
    width: min(100%, 600px);
    margin-left: 20%;
  }
  
  .linkIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: clamp(1em, 3vh, 2em) 0;
  }
}